
Hi <%= @consultant.firstname + "  " +@consultant.lastname %> ,
Congratulations on your confirmation with our prestigious client :<%= @client.name %>
I’m the HR manager here at Canopy One Solutions, Inc.  and I wanted to welcome you to our team and we are looking very forward to working with you!
We need the following information at the earliest to initiate all the paper work with our client and get started with the client required background check and your on board process.
We appreciate you open the following link and follow the instructions to fill it and submit the form. We will be in touch with you for any more information required.

<%= link_to "Click here" ,root_path  %>to login and contact us.

<p>Thanks & Regards</p>
<p><b>Admin,</b></p>
<p><b>http://Canopyone.com.</b></p>


